{% load thumbnail %}{% spaceless %}

<img 
    class="filer_image {{ style }} {{ classes }}"
    alt="{{ instance.alt }}"
    srcset="
        {% for src in srcset %}
            {% thumbnail instance.image src subject_location=instance.image.subject_location %} {{ src.0 }}w,
        {% endfor %}
        {% for w, src in srcset_2x.items %}
            {% thumbnail instance.image src subject_location=instance.image.subject_location %} {{ w }}w,
        {% endfor %}
    "
    {% if sizes %}sizes="{{ sizes }}"{% endif %}
    src="{% thumbnail instance.image default_size %}"
    {% if instance.glossary.caption %} title="{{ instance.glossary.caption }}"{% endif %}
/>

{% endspaceless %}

